# DATABASE_URL="postgresql://user:password@localhost:5433/QuickHand-DB"

# BETTER_AUTH_URL= "http://localhost:3000/auth"

# NEXT_PUBLIC_API_URL= "http://localhost:3000"

# BETTER_AUTH_SECRET= "opq0222xHF21L7Pri7SjP2ori7y5Nm6Km7v6Mnu/rpg="