services:
  postgres:
    image: postgres:16
    container_name: QuickHand-postgres
    environment:
      POSTGRES_DB: QuickHand-DB
      POSTGRES_USER: user 
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    
volumes:
  pgdata: